<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>

        <!-- Portada -->
        <section class="hero-nasu text-white text-center">
            <div class="container py-5">
                <h1 class="display-3">[[#{aplicacion.titulo}]]</h1>
                <p class="lead">[[#{plantilla.eslogan}]]</p>
                <p class="col-md-8 mx-auto">[[#{index.descripcion}]]</p>
                <a th:href="@{/producto/listado}" class="btn btn-light btn-lg mt-2">
                    [[#{index.verCatalogo}]] <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </section>

        <!-- Comprar por categoría -->
        <section class="container py-5">
            <h2 class="text-center mb-4">[[#{index.categorias}]]</h2>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-3">
                <div th:each="c : ${categorias}" class="col">
                    <a th:href="@{/producto/listado}" class="text-decoration-none">
                        <div class="card card-producto text-center h-100">
                            <div class="card-body">
                                <div th:switch="${c.descripcion}" class="text-nasu fs-1 mb-2">
                                    <i th:case="'Roll-ons'" class="fa-solid fa-wand-magic-sparkles"></i>
                                    <i th:case="'Jabón'" class="fa-solid fa-soap"></i>
                                    <i th:case="'Bálsamo'" class="fa-solid fa-jar"></i>
                                    <i th:case="'Desodorante'" class="fa-solid fa-spray-can-sparkles"></i>
                                    <i th:case="'Scrub'" class="fa-solid fa-seedling"></i>
                                    <i th:case="'Bloqueador'" class="fa-solid fa-sun"></i>
                                    <i th:case="*" class="fa-solid fa-leaf"></i>
                                </div>
                                <h6 class="card-title text-body">[[${c.descripcion}]]</h6>
                                <small class="text-nasu">[[#{index.verTodo}]] <i class="fa-solid fa-angle-right"></i></small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!-- Productos destacados -->
        <section class="pb-4">
            <h2 class="text-center">[[#{index.destacados}]]</h2>
            <div th:if="${destacados != null and !destacados.empty}">
                <section th:replace="~{producto/fragmentos :: tarjetas(${destacados})}"/>
            </div>
        </section>

        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>
